@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #8bcfc8;
  --background-start-color: #6e6f59;
  --background-end-color: #91c0c6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-color: #b7ebf2;
    --background-end-color: #233d40;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(to bottom, var(--background-start-color), var(--background-end-color));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
